# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
package-lock.json

# Angular
.angular/
dist/
out-tsc/
bazel-out/

# Testing
/coverage

# IDEs and editors
.vscode/*
!.vscode/extensions.json

# System files
.DS_Store
Thumbs.db
*.suo
*.user
*.sln.docstates
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env.local
.env.*.local

# Build outputs
*.local
dist-ssr/

# Misc
*.cache
.cache/
